/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-grey: #bbbbbb;
  --vt-c-dark-grey: #4b4b4b;

  --vt-c-blue: #2d8fff;

  --vt-wishlist-c : rgb(228, 71, 202);
  --vt-playing-c : rgb(79, 186, 248);
  --vt-completed-c : rgb(58, 223, 71);
  --vt-shelved-c : rgb(255, 200, 20);

  --vt-c-divider-light-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-btn-text: var(--vt-c-text-dark-1);
  --color-btn: var(--vt-c-black);
  --color-btn-hover: var(--vt-c-dark-grey);
  --color-btn-active: var(--vt-c-grey);

  --color-accent: var(--vt-c-blue);
}

[data-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  
  --color-btn-text: var(--vt-c-text-light-1);
  --color-btn: var(--vt-c-white);
  --color-btn-hover: var(--vt-c-grey);
  --color-btn-active: var(--vt-c-white);

  --color-accent: var(--vt-c-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: monospace;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}
